<footer>
  <div class="schedule">
    <p>Всегда на связи</p>
    <ul>
      <li>Понедельник - с 7:00 до 23:00</li>
      <li>Вторник - с 7:00 до 23:00</li>
      <li>Среда - с 7:00 до 23:00</li>
      <li>Четверг - с 7:00 до 23:00</li>
      <li>Пятница - с 7:00 до 23:00</li>
      <li>Суббота - с 9:00 до 19:00</li>
      <li>Воскресенье - с 9:00 до 19:00</li>
    </ul>
  </div>
  <div class="map">
    <p>Карта</p>
    <div>
      <a href="index.html#top">Главная</a>
      <a href="delivery.html">Доставка</a>
      <a href="delivery.html">Оплата</a>
      <a href="about_us.html">О нас</a>
      <a href="contacts.html">Контакты</a>
      <a href="products.html">Продукция</a>
    </div>
  </div>
  <div class="contacts">
    <p>Контакты</p>
    <div>
      <div class="footer__phone-wrapper">
        <span class="flaticon-telephone"></span>
        <a href="tel:+375447923558" title="Телефон" target="_blank"> +375(44)&nbsp;792&#8209;35&#8209;58</a>
      </div>
      <a href="https://vk.com/myfire_plan" title="ВКонтакте" target="_blank"><span
          class="flaticon-vk-social-logotype"></span> ВКонтакте</a>
      <a href="mailto:infopb101@gmail.com" title="Почта" target="_blank"><span class="flaticon-email-at"></span>
        e-mail</a>
    </div>
  </div>
</footer>