<header>
  <div class="header__title">
    <div class="header__block-line">
      <div class="block-line__1"><span>План эвакуации</span></div>
      <div class="block-line__2"><span>Изготовление</span></div>
      <div class="block-line__3"><span>Разработка</span></div>
    </div>
    <a name="top"></a>
    <div class="header__contacts">
      <div class="header__mail"><a href="mailto:infopb101@gmail.com?subject=YOUR_SUBJECT" title="Почта"
          target="_blank">e-mail</a><span class="flaticon-email-at"></span></div>
      <div class="header__vk"><a href="https://vk.com/myfire_plan" title="ВКонтакте"
          target="_blank">ВКонтакте</a><span class="flaticon-vk-social-logotype"></span></div>
      <div class="header__tel"><a href="tel:+375291382403" title="Телефон" target="_blank">+375 (29) 138 24
          03</a><span class="flaticon-telephone"></span></div>
    </div>
  </div>

  <nav class="nav__bar">

    <div class="flaticon-right-arrow"></div>

    <a href="#!" class="menu__burger flaticon-menu"></a>

    <!-- <div class="search flaticon-search-interface-circular-symbol">
    <input type="search" id="search" name="search" value="введите запрос">
    </div> -->
    <div class="phone">
      <span class="phone__num flaticon-contacts"></span><a href="tel:+375291382403">+375&nbsp;(29)&nbsp;138
        24&nbsp;03</a>
    </div>
    <div class="clock flaticon-clock"></div>
    <div class="date flaticon-calendar"></div>
    <ul class="nav__button nav__hidden">
      <li class="main__button nav__button-active"><a href="index.html">Главная</a></li>
      <li class="services__button"><a href="#">Услуги</a>
        <ul class="button-drop">
          <li class=""><a href="evacuation_plan.html">планы эвакуации</a></li>
          <!-- <li class=""><a href="traffic_patterns.html">cхемы движения</a></li> -->
          <!-- <li class=""><a href="fire_calculations.html">пожарно-технические расчёты</a></li> -->
          <li class=""><a href="products.html">виды и стоимость продукции</a></li>
        </ul>
      </li>
      <li class="payment__button"><a href="delivery.html">Доставка и оплата</a></li>
      <li class="about-us__button"><a href="about_us.html">О нас</a></li>
      <li class="contacts__button"><a href="contacts.html">Контакты</a></li>
    </ul>
  </nav>

</header>