<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="План эвакуации РБ. ИП Рагель А.В. Cпособы оплаты и реквизиты. Порядок заключения сделки и передачи товара.">

	<title>Доставка и оплата. План эвакуации РБ</title>
</head>

<body>
	<div class="container">
		<%= require('html-loader!./components/header.html').default %>
			<a href="#top" class="to-top flaticon-double-chevron"></a>
			<main class="grid-delivery">


				<div class="payment__main">
					<div class="title">
						<span class="flaticon-double-chevron"></span>
						<p>способы оплаты и реквизиты</p>
					</div>
					<div class="card-text">
						<div>
							<strong>Оплата осуществляется:</strong>
							<ul>
								<li>на расчетный счет по банковским реквизитам</li>
								<!-- <li>по наличному расчету;</li>
				<li>по банковским реквизитам через кассу банка;</li> -->
							</ul>
							<strong>Реквизиты:</strong>
							<ul>
								<li><b>ИНДИВИДУАЛЬНЫЙ ПРЕДПРИНИМАТЕЛЬ «Рагель Анастасия Вячеславовна»</b>
								<li>
								<li>Республика Беларусь 222357, Минская обл., г. Воложинский р-н, Воложинский с/с, д.17</li>
								<li>УНП 691999420</li>
								<li>Свидетельство № 691999420 выдано Воложинским РИК от 12.08.2022</li>
								<li>IBAN BY78 ALFA 3013 2C42 0800 1027 0000 в ЗАО «Альфа-Банк»</li>
								<li>BIC банка ALFABY2X</li>
								<li>Адрес банка: 220013, г. Минск, ул. Сурганова, 43-47</li>
								<li>УНП 101541947, ОКПО 37526626</li>
							</ul>
							<strong>Порядок заключения сделки и передачи товара:</strong>
							<ul>
								<li>Услуги по изготовлению планов эвакуации, схем движения, пожарно технических расчетов осуществляются
									после подписания договора и поступления предоплаты.</li>
							</ul>
						</div>
						<div class="card-img">
							<img src="./assets/certificates/cвидетельство_о_регистрации.png" alt="cвидетельство_о_регистрации.png">
						</div>
					</div>
				</div><!-- payment__main -->

				<div class="delivery__main">
					<div class="title">
						<span class="flaticon-double-chevron"></span>
						<p>доставка</p>
					</div>
					<div class="card-text">
						<ul>
							<li>Бесплатная доставка по Минску.</li>
							<li>Форма доставки в другие города Беларуси определяется по согласованию с заказчиком.</li>
							<li>Стоимость доставки по Беларуси определяется компанией перевозчиком.</li>
						</ul>
					</div> <!-- delivery__main -->
				</div>

			</main>
			<aside>
				<div class="accordeon__wrapper">
					<div class="menu__accordeon">
						<a class="button">заказать планы эвакуации</a><span class="arrow-btn flaticon-arrow-point-to-right"></span>
						<ul class="menu__accordeon-drop">
							<li><a href="products.html">формат А3 в ламинации</a></li>
							<li><a href="products.html">формат А3 в ламинации с фотолюминесцентным покрытием</a></li>
							<li><a href="products.html">формат А3 ПВХ без борта</a></li>
							<li><a href="products.html">формат А3 ПВХ с бортом</a></li>
							<li><a href="products.html">формат А3 ПВХ без борта с фотолюминесцентным покрытием</a></li>
							<li><a href="products.html">формат А3 ПВХ с бортом с фотолюминесцентным покрытием</a></li>
							<li><a href="products.html">формат А3 ПВХ в рамке</a></li>
						</ul>
					</div> <!-- заказать планы эвакуации -->

					<div class="menu__accordeon">
						<a class="button">заказать схему движения</a><span class="arrow-btn flaticon-arrow-point-to-right"></span>
						<ul class="menu__accordeon-drop brop-height">
							<li><a href="products.html">Схема движения</a></li>
						</ul>
					</div> <!-- заказать схему движения -->

					<!-- <div class="menu__accordeon">
				<a class="button">заказать пожарно-технический расчет</a><span class="arrow-btn flaticon-arrow-point-to-right"></span>
					<ul class="menu__accordeon-drop brop-height">
					<li><a href="products.html">Пожарно-технический расчет</a></li>
					</ul>
				</div> заказать пожарно технический расчет -->
				</div>
				<div class="contacts">
					<p>Контакты</p>
					<div>
						<div class="contacts__phone-wrapper">
							<span class="flaticon-telephone"></span>
							<a href="tel:+375291382403" title="Телефон" target="_blank"> +375 (29) 138 24 03</a>
						</div>
						<a href="https://vk.com/myfire_plan" title="ВКонтакте" target="_blank"><span
								class="flaticon-vk-social-logotype"></span> ВКонтакте</a>
						<a href="mailto:infopb101@gmail.com" title="Почта" target="_blank"><span class="flaticon-email-at"></span>
							e-mail</a>
					</div>
				</div>
				<div class="schedule">

					<p>График работы</p>
					<ul>
						<li>Понедельник - с 7:00 до 23:00</li>
						<li>Вторник - с 7:00 до 23:00</li>
						<li>Среда - с 7:00 до 23:00</li>
						<li>Четверг - с 7:00 до 23:00</li>
						<li>Пятница - с 7:00 до 23:00</li>
						<li>Суббота - с 9:00 до 19:00</li>
						<li>Воскресенье - с 9:00 до 19:00</li>
					</ul>
				</div>
			</aside>
			<%= require('html-loader!./components/footer.html').default %>
	</div>

</body>

</html>