<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description"
		content="План эвакуации РБ. Заказать пожарно технический расчет. Пожарная безопасность объектов. Категорирование помещений. Указатель категории по взрывопожарной и пожарной опасности и класса зоны.">
	<link rel="icon" href="../favicon.png" type="image/png" sizes="64x64">
	<link rel="icon" href="../favicon.ico" type="image/x-icon" sizes="120x120">
	<link rel="stylesheet" href="../fonts/icon/font/flaticon.css" type="text/css">
	<link rel="stylesheet" href="../css/style.css" type="text/css">
	<title>Расчет категории помещений. План эвакуации РБ</title>
</head>

<body>
	<div class="container">
		<%= require('html-loader!./components/header.html').default %>
		<a href="#top" class="to-top flaticon-double-chevron"></a>

		<main class="grid_fire__calculations">
			<div class="fire__block-1">
				<div class="title">
					<span class="flaticon-double-chevron"></span>
					<p>Пожарная безопасность объектов</p>
				</div>
				<div class="card-text">
					<p><strong>Пожарная безопасность объектов</strong> — неотъемлемая составляющая эксплуатации зданий и
						сооружений, требующая постоянного внимания и контроля ответственных лиц организаций.</p>

					<p>Наибольшая пожарная нагрузка, а, значит, и опасность сосредоточена, как правило, в производственных и
						складских зданиях и помещениях. Поэтому требования действующих нормативных правовых актов классифицируют
						подобные объекты по взрывопожарной и пожарной опасности и предусматривают соответствующие противопожарные
						мероприятия.</p>

					<p>Практика расчетов категорий показывает, что применение требований <strong>ТКП 474-2013 «Категорирование
							помещений, зданий и наружных установок по взрывопожарной и пожарной безопасности»</strong> уменьшает
						материальные затраты на противопожарную защиту и значительно экономит материальные средства организации, а
						при неверно определенных категориях стоимости проектных и монтажных работ завышаются в разы.</p>
				</div>
			</div> <!-- block-1 -->

			<div class="fire__block-2">
				<div class="title">
					<span class="flaticon-double-chevron"></span>
					<p>Категорирование помещений</p>
				</div>
				<div class="card-text">
					<p><strong>Выполнение расчетов по взрывопожарной и пожарной опасности</strong> крайне важно, так как категории
						помещений, зданий и наружных установок следует применять для установления нормативных требований по
						обеспечению взрывопожарной и пожарной безопасности указанных помещений, а также обеспечения эвакуации людей,
						конструктивных решений, инженерного оборудования. Мероприятия по обеспечению безопасности людей должны
						разрабатываться в зависимости от пожаровзрывоопасных свойств и количества веществ и материалов в
						соответствии с ГОСТ 12.1.004 и ГОСТ12.1.044.</p>
					<p>Расчеты необходимо выполнять при возведении (строительстве), реконструкции, модернизации и техническом
						перевооружении, а также при изменениях технологических процессов и при эксплуатации помещений, зданий и
						наружных установок.</p>
					<p><strong>Определение категорий помещений</strong>, зданий и наружных установок по взрывопожарной и пожарной
						опасности выполняется в соответствии c <strong>ТКП 474-2013</strong>.</p>
					<p>Чтобы точно определить категории помещений, зданий и наружных установок по взрывопожарной и пожарной
						опасности нужно учитывать многие факторы, в том числе количество и свойства веществ и материалов с учетом
						особенностей технологических процессов размещенных в них производств.</p>
				</div>
			</div> <!-- block-2 -->

			<div class="fire__block-3">
				<div class="title">
					<span class="flaticon-double-chevron"></span>
					<p>нормативные документы</p>
				</div>
				<div class="card-text">
					<div class="card-pdf">
						<div class="title">ТКП 474-2013<a class="point-absolute" href="../assets/img/tkp-474.pdf" target="_blank">скачать</a>
						</div>
						<object data="../assets/img/tkp-474.pdf" type="application/pdf">
						</object>
					</div>
					<div class="block__content">

						<div class="window">
							<p><strong>Указатель категории по взрывопожарной и пожарной опасности и класса зоны</strong></p>
							<img src="../assets/img/category_sprite.webp" alt="">
						</div>
						<div class="window">
							<p><strong>Информационная карточка мер пожарной безопасности</strong></p>
							<img src="../assets/img/class_z.webp" alt="">
						</div>
					</div>
				</div>


			</div> <!-- block-3 -->

			<!-- <div class="fire__block-4">
				<div class="title">
				<span class="flaticon-double-chevron"></span>
					<p>Заказать пожарно технический расчет</p>
				</div>
				<div class="card-text">
					<ul>
						<li>Предоставляем услуги по расчёту категорий помещений согласно ТКП 474-2013, что позволяет определить необходимость оборудования помещения противопожарными дверьми, пожарной сигнализацией либо установками пожаротушения, также на основании категории помещения к нему предъявляются различные требования по пожарной безопасности.</li>
						<li><strong>Стоимость расчета одного помещения - 25 бел.руб.</strong></li>
					</ul>
					
				</div>
		</div> block-4 -->
			<div class="fire__block-5">
				<div class="title">
					<span class="flaticon-double-chevron"></span>
					<p>Видео</p><a href="https://youtu.be/ABk5ygza2rQ" target="_blank">cмотреть на You Tube</a>
				</div>
				<div class="card-img">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/ABk5ygza2rQ" title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</div> <!-- block-5 -->

		</main>
		<aside>
			<div class="accordeon__wrapper">
				<div class="menu__accordeon">
					<a class="button">заказать планы эвакуации</a><span class="arrow-btn flaticon-arrow-point-to-right"></span>
					<ul class="menu__accordeon-drop">
						<li><a href="products.html">формат А3 в ламинации</a></li>
						<li><a href="products.html">формат А3 в ламинации с фотолюминесцентным покрытием</a></li>
						<li><a href="products.html">формат А3 ПВХ без борта</a></li>
						<li><a href="products.html">формат А3 ПВХ с бортом</a></li>
						<li><a href="products.html">формат А3 ПВХ без борта с фотолюминесцентным покрытием</a></li>
						<li><a href="products.html">формат А3 ПВХ с бортом с фотолюминесцентным покрытием</a></li>
						<li><a href="products.html">формат А3 ПВХ в рамке</a></li>
					</ul>
				</div> <!-- заказать планы эвакуации -->

				<div class="menu__accordeon">
					<a class="button">заказать схему движения</a><span class="arrow-btn flaticon-arrow-point-to-right"></span>
					<ul class="menu__accordeon-drop brop-height">
						<li><a href="products.html">Схема движения</a></li>
					</ul>
				</div> <!-- заказать схему движения -->

				<!-- <div class="menu__accordeon">
				<a class="button">заказать пожарно-технический расчет</a><span class="arrow-btn flaticon-arrow-point-to-right"></span>
					<ul class="menu__accordeon-drop brop-height">
					<li><a href="products.html">Пожарно-технический расчет</a></li>
					</ul>
				</div> заказать пожарно технический расчет -->
			</div>
			<div class="contacts">
				<p>Контакты</p>
				<div>
					<div class="contacts__phone-wrapper">
						<span class="flaticon-telephone"></span>
						<a href="tel:+375291382403" title="Телефон" target="_blank"> +375 (29) 138 24 03</a>
					</div>
					<a href="https://vk.com/myfire_plan" title="ВКонтакте" target="_blank"><span
							class="flaticon-vk-social-logotype"></span> ВКонтакте</a>
					<a href="mailto:infopb101@gmail.com" title="Почта" target="_blank"><span class="flaticon-email-at"></span>
						e-mail</a>
				</div>
			</div>
			<div class="schedule">

				<p>График работы</p>
				<ul>
					<li>Понедельник - с 7:00 до 23:00</li>
					<li>Вторник - с 7:00 до 23:00</li>
					<li>Среда - с 7:00 до 23:00</li>
					<li>Четверг - с 7:00 до 23:00</li>
					<li>Пятница - с 7:00 до 23:00</li>
					<li>Суббота - с 9:00 до 19:00</li>
					<li>Воскресенье - с 9:00 до 19:00</li>
				</ul>
			</div>
		</aside>

		<%= require('html-loader!./components/footer.html').default %>
	</div>

	<script type="module" defer src="../index.js"></script>
</body>

</html>